* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: ISW_l;
  src: url("fonts/IRANSansWeb_Light.woff");
  src: url("fonts/IRANSansWeb_Light.woff") format("embedded-opentype"),
    url("fonts/IRANSansWeb_Light.woff") format("otf");
}
@font-face {
  font-family: ISW_m;
  src: url("fonts/IRANSansWeb_Medium.woff");
  src: url("fonts/IRANSansWeb_Medium.woff") format("embedded-opentype"),
    url("fonts/IRANSansWeb_Medium.woff") format("otf");
}
@font-face {
  font-family: ISW;
  src: url("fonts/IRANSansWeb.woff");
  src: url("fonts/IRANSansWeb.woff") format("embedded-opentype"),
    url("fonts/IRANSansWeb.woff") format("otf");
}

body {
  background-color: #eee;
  font-weight: 400;
  font-family: ISW_l;
  text-decoration: none;
}

.container {
  margin-bottom: 35px;
  margin-top: 35px;
  margin-right: 60px;
  margin-left: 60px;
  display: flex;
}

.right-container {
  width: 25%;
}

.title-right {
  display: flex;
  flex-direction: column;
}

.title-right h2 {
  font-size: 18px;
  font-weight: 700;
  font-family: ISW_m;
  color: #000;
  font-weight: 700;
}

.just-border1{
  border-bottom: 3px solid rgb(68, 168, 68);
  margin: 10px 0 15px;
  width: 90px;
}

.title-right p {
  font-size: 13px;
  color: #aaa;
  border-bottom: 1px #d1d1d1 solid;
  padding-bottom: 25px;
  margin-bottom: 35px;
  text-align: justify;
}

.form-search-right {
  display: flex;
  position: relative;
}

.search-icon {
  position: absolute;
  top: 15px;
  right: 20px;
  color: #aaa;
}

.search-input {
  width: 100%;
  padding: 15px 45px 15px 65px;
  font-size: 1rem;
  border: 0;
  font-family: isw_l;
  border-radius: 10px;
  font-weight: 400;
  line-height: 1.5;
  outline: 0;
  transition: 0.5s;
  cursor: pointer;
  margin-bottom: 35px;
}

.search-input:focus {
  transition: 0.35s;
  border: 0.3px solid #86b7ff;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.search-button {
  color: #7fbb00;
  border-radius: 10px;
  font-size: 18px;
  border: 0;
  position: absolute;
  left: 20px;
  top: 17px;
}

.navbar-right {
  display: flex;
  flex-direction: column;
  height: 325px;
  justify-content: space-between;  
  cursor: pointer;

}

.navbar-right a {
  font-size: 15px;
  text-decoration: none;
  border-top: 1px #d1d1d1 solid;
  padding-top: 19px;
  color: #242424;
}

.navbar-right a:hover {
  color: #9b9b9b;
}

.navbar-right a i {
  color: #b8b7b7;
  margin-right: 11px;
}










.center-container{
  width:50%;
  margin-right: 20px;
}

.img-btn{
  display: flex;
  flex-direction: column;

}

.img-btn img{
  position: relative;
}

.img-btn a{
  border-radius: 3px;
  font-size: 13px;
  position: relative;
  padding:12px 24px;
  background-color: #7fbb00;
  text-decoration: none;
  color: #eee;
  width: 135px;
  right: 25px;
  bottom: 25px;
  text-align: center;
  transition: 0.4s;

}

.img-btn a:hover{
  background-color: #6c9e01;
  box-shadow: 1px 1px 3px black;
}

.bold-desc h1{ 
  font-size: 24px;
  font-weight: 500;
  color: rgb(50, 50, 50);
  font-family: ISW_m;
  margin-top: -7px;
  margin-bottom: 25px;
  margin-right: 25px;
}

.bold-desc p{
  font-size: 14px;
  line-height: 30px;
  color: rgb(87, 87, 87);
  margin-bottom: 30px;
  margin-left: 3px;
  padding: 0 30px;
}

.link-center{
  display: flex;
  justify-content:space-around;
}


.link-center a{
  text-decoration: none;
  color: #757575;
  border: #c0c0c0 solid 2px;
  border-radius: 50px;
  padding: 12px 26px;
  font-size: 12px;
  transition: 0.1s;
  text-align: center;  
  width: 130px;
 }

.link-center a:hover{
  color: #fff;
  background-color: #c0c0c0;
}

#link1{
  text-align: center;
  color: #757575;
  margin-right: 30px;
}

#link2{
  color: #7b7b7b;
  border: 0;
  margin-right: 200px;
}

#link3{
  color: #62a949;
  border: 0;
  margin-left:45px;
}

#link3:hover{
  color: #eee;
}

.just-border2{
  width: 100%;
  border-bottom: 1px #d1d1d1 solid;
  margin-top: 10px;
}




.left-container{
  width: 25%;
  margin-right: 25px;
}

.title-left{
 display: flex;
 flex-direction: column;
}

.title-left h2{
  font-size: 18px;
  font-weight: 700;
  font-family: ISW_m;
  margin-bottom: 12px;
  color: #000;
  margin-top: 5px;
}

.title-left .just-border3{
  width: 90px;
  border-bottom: 3px solid rgb(68, 168, 68);
  margin-bottom: 20px;
}

.p-d-d-1{
  display: flex;
  justify-content: space-between;
}

.p-d-d-1 img{
  width: 70px;
  height: 70px;
  margin-left: 25px;
  border-radius: 4px;
}

.desc-det-1 a{
 text-decoration: none;
 color: #000;
 line-height: 20px;
 font-size: 14px;
 transition: 0.1s ease;
 text-align: justify;
}

.desc-det-1 a:hover{
 color: #696969;
}

.desc-det-1 p{
  color: #b4b4b4;
  font-size: 10px;
  margin-top: 10px;
}

.p-d-d-2{
  display: flex;
  align-items:  center;
}

.p-d-d-2 img {
  width: 70px;
  height: 70px;
  border-radius: 4px;
  margin-top: 30px;
  margin-left: 25px;
}

.desc-det-2 a { 
  text-decoration: none;
  color: #000;
  font-size: 14px;
  transition: 0.1s ease;
  line-height: 20px;
 }

 .desc-det-2 a:hover{
  color: #696969;
 }

 .desc-det-2 p{
  color: #b4b4b4;
  font-size: 10px;
  margin-top: 10px;
}

.footer-left{
  display: flex;
  flex-direction: column;
  width: 100%;
  
}

.footer-left img{
  margin-top: 35px;
 height: 165px;
  border-radius: 4px;
  width: 100%;
}


#link-footer-left1{
  margin-top: -39px;
  text-decoration: none;
  background-color: #7fbb00;
  border-radius: 3px;
  font-size: 11px;
  color: #eee;
  padding: 7px 17px;   
  transition: 0.3s ease;
  width: 35%;
}

#link-footer-left1:hover{
  background-color: #6c9e01;
  text-decoration: none;
  box-shadow: 1px 1px 3px black;
}



#link-footer-left2{
  text-decoration: none;
  font-size: 15px;
  margin-top: 17px;
  color: #000;
  transition: 0.1s ease;
  margin-bottom: 5px;
}

#link-footer-left2:hover{
  color: #696969;

}

.footer-left p{
  font-size: 10px;
  color: #b4b4b4;
}

